# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\HP\Documents\University of Pretoria\YEAR 3\SEMESTER 1\COS332 - Networking\Assignments\COS332-Practicals\Assignment 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
